@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Rubik+Puddles&family=Young+Serif&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Young Serif', serif;
    list-style: none;
}
body{
    background:salmon;
    height: 1500px;
    color: black;
}
.container{
    display: flex;
    justify-content: space-between;
}