.categories{
  width: 15%;
}
h1 {
  font-size: 50px;
  
}

li {
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  margin:10px 0px 40px 30px;
  width: 200px;
  background: rgba(255, 255, 0, 0.798);
  box-shadow:0px 5px 0px;
  font-size: 20px;
  transition: .6;

}
