main {
    text-align: center;
h3{
    font-size: 50px;
}
    input {
        text-align: left;
        margin: 5px;
        padding: 3px 60px 3px 4px;
        border: 2px solid black;
        font-size: x-large;
        border: none;
    }

    input[type=submit] {
        border-radius: 10px;
        padding: 5px 20px;
        background: rgba(255, 255, 0, 0.616);
        border: 2px solid black;

        &:disabled {
            visibility: hidden;
        }
    }


    .product-card li {
        border-radius: 0px;
        margin-left: 45%;

    }

    .product-card p {
        font-size: 20px;
        color: whitesmoke;

    }

    select {
        margin: 5px;
        padding: 3px 30px 3px 4px;
        border: 2px solid black;
        font-size: x-large;
        border: none;

    }

}